body {
  background-color: #aeeaf2;
  color: #121e59;
}
.main-text {
  white-space: pre-wrap;
  text-align: center;
  font-size: 1.8em;
  font-style: italic;
  font-family: "Brush Script MT", "Lucida Handwriting", "Times New Roman";
  border: 2px solid;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  width: 78%;
  padding: 1% 1% 1% 0%;
}


